#picker div:nth-child(2) {
	width: 100% !important;
	height: 100% !important;
}

.each-word {
	float: left;
	width: 100%;
}

.show-word {
	line-height: 70px;
	height: 70px;
	min-width: 8%;
	border-radius: 3px;
	text-align: center;
	font-weight: bold;
	padding: 0px 5px;
	float: left;
	margin-right: 1%;
	font-size: 40px;
	border-bottom: 2px dashed black;
}

#whole-area {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.radio-btn {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.question-area {
	font-size: 30px;
	font-size: 30px;
}

#question {
	margin-bottom: 10px;
}

.power {
	display: none;
}

.divider {
	display: none;
}