<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>

    <link type="text/css" href="/static/css/index.css"></link>

</head>

<body>
    This is index html

    <a href="/logout">logout</a>&nbsp;&nbsp;
    <a href="/excel/toUpload">upload</a>&nbsp;&nbsp;
    <a href="/subject/html">Subject html</a>&nbsp;&nbsp;


</body>

<script type="text/javascript" src="/static/js/jq/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/static/js/sys/index.js"></script>

</html>