<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.official.mapper.CustomerMapper">
	<resultMap id="BaseResultMap"
		type="com.official.entity.Customer">
		<!-- WARNING - @mbg.generated -->
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="cet4" property="cet4" jdbcType="INTEGER" />
		<result column="cet6" property="cet6" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="eng_age" property="engAge" jdbcType="INTEGER" />
		<result column="major" property="major" jdbcType="VARCHAR" />
		<result column="gender" property="gender" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbg.generated -->
		id, name, code, cet4, cet6, age, eng_age, major, gender
	</sql>
	
	<delete id="deleteAll">
		DELETE FROM 
			customer_t
		WHERE 
			1=1
	</delete>
</mapper>