<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.official.mapper.ScoreMapper" >
  <resultMap id="BaseResultMap" type="com.official.entity.Score" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cus_id" property="cusId" jdbcType="INTEGER" />
    <result column="sub_id" property="subId" jdbcType="INTEGER" />
    <result column="read_time1" property="readTime1" jdbcType="INTEGER" />
    <result column="read_time2" property="readTime2" jdbcType="INTEGER" />
    <result column="read_time3" property="readTime3" jdbcType="INTEGER" />
    <result column="read_time4" property="readTime4" jdbcType="INTEGER" />
    <result column="read_time5" property="readTime5" jdbcType="INTEGER" />
    <result column="correct" property="correct" jdbcType="INTEGER" />
    <result column="stopwatch" property="stopwatch" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <resultMap type="com.official.entity.Score" id="extMap" extends="BaseResultMap">
  	<association property="customer"
					 select="com.official.mapper.CustomerMapper.selectByPrimaryKey"
					 column="cus_id"></association>
					 
	<association property="subject"
					 select="com.official.mapper.SubjectMapper.selectByPrimaryKey"
					 column="sub_id"></association>
  </resultMap>
  
  <sql id="columnList" >
    <!--
      WARNING - @mbg.generated
    -->
    id, cus_id, sub_id, read_time1, read_time2, read_time3, read_time4, read_time5, correct, stopwatch
  </sql>
  
  <insert id="save">
	  	INSERT INTO
	  		score_t(cus_id,sub_id,correct,stopwatch)
	  	VALUES(
	  		#{cusId},
	  		#{subId},
	  		#{correct},
	  		#{stopwatch}
	  	)
  </insert>
	
   <select id="computeScore" resultMap="extMap">
	   	SELECT
			<include refid="columnList"></include>
		FROM
			score_t
   </select>
   
   <delete id="deleteAll">
   		DELETE FROM
   			score_t
   		WHERE
   			1=1
   </delete>
  
</mapper>