<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.official.mapper.SubjectMapper">
	<resultMap id="BaseResultMap" type="com.official.entity.Subject">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="sentence" jdbcType="VARCHAR" property="sentence" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="question" jdbcType="VARCHAR" property="question" />
		<result column="answer" jdbcType="VARCHAR" property="answer" />
		<result column="paper" jdbcType="INTEGER" property="paper" />
		<result column="origin" jdbcType="VARCHAR" property="origin" />
	</resultMap>

	<sql id="Base_Column_List">
		subject_t.id, 
		subject_t.sentence, 
		subject_t.type, 
		subject_t.question, 
		subject_t.answer,
		subject_t.paper,
		subject_t.origin
	</sql>

	<select id="selectWithPaper" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"></include>
		FROM
			subject_t
		INNER JOIN (
			SELECT
				paper
			FROM
				progress_t
			WHERE
				`open` = 1
		) tmp
		WHERE
			tmp.paper = subject_t.paper
	</select>
	
	<delete id="deleteAll">
		DELETE FROM
			subject_t
		WHERE 
			1=1
	</delete>
</mapper>