<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.official.mapper.SysRoleMapper" >

  <resultMap id="BaseResultMap" type="com.official.entity.sys.SysRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="role_code" property="roleCode" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="column">
  		id,
  		role_name,
  		role_code
  </sql>
  
  <select id="findRoleByUserId" resultMap="BaseResultMap">
        SELECT
			<include refid="column"></include>
		FROM
			sys_role
		INNER JOIN (
			SELECT
				role_id
			FROM
				map_user_role
			WHERE
				user_id = #{userId}
		) map ON map.role_id = sys_role.id
  </select>

</mapper>